<h2><%= @house.name %></h2>

<p>This house has <%= pluralize @house.points, 'point' %>.</p>
<h3>Students</h3>
<ul>
  <% @house.students.each do |student| %>
    <li><%= link_to student.name, student %></li>
  <% end %>
</ul>

<h3>Teachers</h3>
<ul>
  <% @house.teachers.each do |teacher| %>
    <li><%= link_to teacher.name, teacher %></li>
  <% end %>
</ul>

<p><%= link_to 'Home', root_path %></p>