<!DOCTYPE html>
<html>
  <head>
    <title>HogwartsOnRailsNow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', permalink_path(permalink: 'about_us') %></li>
          <li><%= link_to 'FAQ', permalink_path(permalink: 'faq') %></li>
        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
